.nav_bar {
    width: 100%;
    height: 30px;
  }
  .navbar a {
    display: block;
    color: black;
    justify-items: right;
    font-weight: 900;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .logo {
    width: 80px;
    height: 50px;
  }
  .booking_form {
    border-style: solid;
    padding: 5vh;
    margin: 5em;
    border-radius: 2px;
  }
  body {
    background-image: url(../images/61.jpg);
    background-size: cover;
    position: relative;
    height: auto;
    margin: 1em;
  }
  label {
    color: black;
    font-weight: bolder;
  }
  .btn {
    background-color: burlywood;
    line-height: 3;
    border: none;
    border-radius: 14px;
  }
  