body{
	background-image:url('../images/27.jpg') ;
	background-size: cover;
	position: relative;
	height: auto;
	background-repeat: no-repeat;

}
div h5{
	text-align: center;
	color: black;
}
.content{
	height: auto;
	width: 50%;
	justify-self: center;
	margin-top:5rem ;
	padding-bottom: 5rem;
	margin-bottom: 5rem;
}
.form-label{
	color: black;
	font-weight: bold;
}
.card{
	height: 40px;

}